@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #374645;
    font-family: "Kanit", sans-serif;
}

input:focus,
select:focus {
    outline: none;
}

label {
    font-weight: 500;
    color: rgb(19 78 74)
}

button:hover,
input[type='submit']:hover {
    transform: translateY(.2rem);
    transition: translateY 2s ease-in-out;
}

option {
    color: rgb(2, 32, 32);
    background-color: #d9fffdbc;
}

th,
td {
    text-align: center;
    border: 1px solid #f1f1f1;
}