@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #374645;
    font-family: "Kanit", sans-serif;
}

th,
td {
    border: 1px solid #f1f1f1;
    @apply text-center;
}

input:focus,
select:focus {
    @apply outline-none;
}

input {
    @apply text-center;
}

label {
    @apply text-teal-900 font-medium;
}

option {
    color: rgb(2, 32, 32);
    @apply bg-teal-50;
}

.submit,
input[type='submit'] {
    @apply bg-teal-900 rounded-3xl block w-full p-3 cursor-pointer text-white text-center hover:bg-teal-950
}

.submit:hover,
button:hover,
input[type='button']:hover,
input[type='submit']:hover {
    transform: translateY(.2rem);
    transition: translateY 2s ease-in-out;
}


.formLog {
    @apply w-11/12 md:max-w-2xl mx-auto my-20 p-8 bg-gradient-to-t from-cyan-500 to-slate-800 rounded-xl shadow-lg opacity-90
}

.divStyleLog {
    @apply bg-teal-600 p-2 mb-2 flex gap-3 rounded-3xl overflow-hidden;
}

.selectLog {
    @apply block w-full bg-transparent border-none text-white opacity-50;
}

.inputLog {
    @apply block w-full bg-transparent border-none placeholder:text-white placeholder:opacity-50 outline-none text-left;
}

.boxImg {
    @apply mt-8 flex flex-col md:flex-row md:justify-between items-center;
}

.logo {
    @apply w-6/12 md:w-1/4 mx-auto
}

.icon {
    @apply w-8 text-white opacity-50;
}